.vs/*

Debug/

Release/

*.log

*.tlog

*.obj

Tacent/Contrib/CxImage/CxImage/x64/Debug/cximage\.pdb

*.lib

!Tacent/Contrib/glfw/Debug/*.lib
!Tacent/Contrib/glfw/Release/*.lib

*.idb

*.pdb
!Tacent/Contrib/glfw/Debug/*.pdb
!Tacent/Contrib/glfw/Release/*.pdb

*.ilk

*.exe

*.db

*.db-shm

*.db-wal

*.exp

Tacent/Contrib/NvidiaTextureTools/project/vs/nvtt/x64/Debug/nvtt\.res

*.ipch

*.opendb

*.user

!TacitTexView.vcxproj.user

Tacent/Contrib/NvidiaTextureTools/project/vs/nvtt/x64/Release/nvtt\.res

*.aps

*.iobj

*.ipdb

imgui\.ini
