*.log

*.tlog

*.obj

Contrib/CxImage/CxImage/x64/Debug/cximage\.pdb

*.lib

!Contrib/imgui/examples/libs/glfw/lib-vc2010-64/*.lib
!Contrib/imgui/examples/libs/glfw/lib-vc2010-32/*.lib
!Contrib/glfw/Debug/*.lib
!Contrib/glfw/Release/*.lib

*.idb

*.pdb
!Contrib/glfw/Debug/*.pdb
!Contrib/glfw/Release/*.pdb

*.ilk

*.exe

*.db

*.db-shm

*.db-wal

*.exp

Contrib/NvidiaTextureTools/project/vs/nvtt/x64/Debug/nvtt\.res

*.ipch

*.opendb

*.user

Contrib/NvidiaTextureTools/project/vs/nvtt/x64/Release/nvtt\.res

Tools/TextureViewer/\.vs/TextureViewer/v15/\.suo

Tools/TextureViewer/imgui\.ini

*.aps

Tools/TextureViewer/Debug/TextureViewer\.res

*.iobj

*.ipdb
