# Every folder with the name.
.vs/
.build-debug/
.build-release/
.codelite/
Debug/
Release/

# Specifc filenames.
compile_flags.txt
compile_commands.json

# Specific filetypes to ignore everywhere.
*.log
*.tlog
*.obj
*.o
*.FileListAbsolute.txt
*.cpp.o
*.cpp.o.d
*.a
*.d
#*.mk
*.idb
*.ilk
*.exe
*.suo
*.db
*.db-shm
*.db-wal
*.exp
*.ipch
*.opendb
*.aps
*.iobj
*.ipdb
*.so
*.tags
*.session
*.c.o
*.cxx.o
*.pdb
*.tac

# Specific filetypes that have exceptions in subdirs.
*.vcxproj.user
*.lib
*.pdb

