[Desktop Entry]
Name=Tacent View
Exec=tacentview %f
Icon=${SNAP}/meta/gui/tacentview.png
Terminal=false
Type=Application
Categories=Development;
MimeType=image/x-dds;image/x-exr;image/gif;image/jpeg;text/x-mpsub;image/png;image/x-tga;image/tiff;image/webp;image/bmp;image/vnd.microsoft.icon;
StartupNotify=false
Keywords=hdr;exr;webp;development;programming;image;viewer;